.name{
    text-align: center;   
    color: black;
    font-size: 14px;
}

.quantity{
    text-align: center;   
    color: black;
    font-size: 14px;
}

.price{    
    text-align: center;   
    color: black;
    font-size: 14px;
    font-weight: bold;
}

 /*FIX DISCOUNT*/