 
.img{
    width: 600px;
    height: 400px;
  }

 .gallery{
    display: flex;
    flex-wrap: wrap;
  }

/*
  @media( min-width: 45em ) {
    .lookbook-grid {
      display: flex;
      flex-wrap: wrap;
    }
*/