 
.img{
    width: 300px;
    height: auto;
    border-radius: 10px;
  }

  
  @media screen and (max-width: 360px) {
    .img{
      width: 120px;
      height: auto;
      border-radius: 5px;
    }
  }

