/*.modal{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: all 0.9 ease-in-out;
}*/

.show {
    opacity: 1;
    pointer-events: visible;
    background-color:rgba(183, 183, 183, 0.5);
    backdrop-filter: blur(3px);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;   
    z-index: 1;

  
}

.modal-title {
    /*margin: 0;*/
    font-family:'Gill Sans MT';
    color:#41876f;
}

.modal-content {
    
    width: 60vw;
    left: 12vw;
    top: 25vh;
    padding: 15px 30px;
    position: relative;

    background-color: #ffffff;
    border:1px solid #000000;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;   
    border-bottom-right-radius: 10px;  

    font-family:'Gill Sans MT';
    color: black;
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
    transition: all 0.3s ease-in-out;

}

/*

.modal-footer{
    font-family:'Gill Sans MT';

}
.modal-body {
    padding: 15px;


}

.modal-header .modal-footer{
    padding: 10px;
    color:black;
  
}
*/

/*
.modal.enter-done {
    opacity: 1;
    pointer-events: visible;
}

.modal.exit{
    opacity:0;
}
.modal.enter-done .modal-content{
    transform: translateY(0);
}
.modal.exit .modal-content{
    transform: translateY(-200px);
}*/
