.heading{
    padding: 5px;
    text-align: left;
    color: #41876f;
    font-size: 1.5rem;   
    text-shadow: 5px 3px 17px #848282;

    font-family: Calibri;
    font-weight: bold;

}
.test{
    background-color: transparent;
    border: none;
    cursor: pointer;
}